# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
ENV/
env/

# Flask
instance/
uploads/
*.db
*.sqlite3

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Backup
uploads copy/

# Misc
*.bak
*.swp
*.tmp

# Seed & Test scripts (contain credentials)
seed_users.py
test_db_insert.py
